---
interface Props {
  title: string;
  description: string;
  href: string;
  thumbnail: string;
}

const { title, description, href, thumbnail } = Astro.props;
---

<div>
  <img src={thumbnail} />
  <div>
    <a href={href}>
      <h1>{title}</h1>
    </a>
    <p>{description}</p>
    <a href={href}> Read more </a>
  </div>
</div>
