---
import type { ISbStoryData } from "storyblok-js-client";

import BaseLayout from "@src/layouts/BaseLayout.astro";

// Components
import DynamicComponent from "@src/components/DynamicComponent.astro";
import { Header } from "@src/components/Organisms/Core/Header/Header";

// Types
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;
---

<BaseLayout referencesData={referencesData} title={story.name}>
  <main>
    <Header title={story.name} breadcrumbs={breadcrumbs} />
    {
      story.content.Body &&
        story.content.Body.map((blok: any) => <DynamicComponent blok={blok} />)
    }
  </main>
</BaseLayout>
