---
import type { ISbStoryData } from "@storyblok/js";

// Components
import { FilterableResources as FilterableResourcesComponent } from "@src/components/Organisms/FilterableResources/FilterableResources/FilterableResources";
import { Header } from "@src/components/Organisms/Core/Header/Header";
import { NavigationRow } from "@/src/components/Organisms/Core/NavigationRow/NavigationRow";

// Helpers
import { fetchStories } from "@src/helpers/fetchContent";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Types
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { StoryblokMultilinkUrl } from "@src/types/storyblok";
import type { FilterableResources } from "@src/types/bloks/storyblok-components";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;

let links: StoryblokMultilinkUrl[] = [];

// Get related stories
const stories = await fetchStories({
  starts_with: story.full_slug,
});

// Build the links from stories
stories.map((story) =>
  links.push({
    ...story,
    url: story.full_slug,
  }),
);
---

<BaseLayout referencesData={referencesData} title={story.name}>
  <main>
    <Header title={story.name} breadcrumbs={breadcrumbs} />
    <!-- Include the current story first, then child stories -->
    <NavigationRow currentFullSlug={story.full_slug} links={links} />
    <FilterableResourcesComponent
      {...story.content as FilterableResources}
      client:visible
    />
  </main>
</BaseLayout>
