---
import type { ISbStoryData } from "@storyblok/js";

// Components
import DynamicComponent from "@src/components/DynamicComponent.astro";
import { Header } from "@src/components/Organisms/Core/Header/Header";
import { NavigationRow } from "@/src/components/Organisms/Core/NavigationRow/NavigationRow";

// Helpers
import { fetchStories } from "@src/helpers/fetchContent";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Types
import type { StoryblokMultilinkUrl } from "@src/types/storyblok";
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;

let links: StoryblokMultilinkUrl[] = [];

// Get parent slug
const fullSlugParts: string[] = story.full_slug.split("/");
const parentFullSlug: string = fullSlugParts
  .slice(0, fullSlugParts.length - 1)
  .join("/");

// Get related stories
const stories = await fetchStories({
  starts_with: parentFullSlug,
});

// Build the links from stories
stories.map((story) =>
  links.push({
    ...story,
    url: story.full_slug,
  }),
);
---

<BaseLayout referencesData={referencesData} title={story.name}>
  <main>
    <Header title={story.name} breadcrumbs={breadcrumbs} />
    <NavigationRow currentFullSlug={story.full_slug} links={links} />
    {
      story.content.Body &&
        story.content.Body.map((blok: any) => <DynamicComponent blok={blok} />)
    }
  </main>
</BaseLayout>
