---
import type { ISbStoryData } from "storyblok-js-client";

import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import { Header } from "@src/components/Organisms/Core/Header/Header";
import { Unit as UnitComponent } from "@src/components/Organisms/Unit/Unit/Unit";

// Types
import type { BreadcrumbProps } from "@src/components/Molecules/Core/Breadcrumb/Breadcrumb.interface";
import type { ReferenceProps } from "@src/components/Molecules/Core/Reference/Reference.interface";

interface Props {
  breadcrumbs: BreadcrumbProps;
  referencesData?: ReferenceProps[];
  story: ISbStoryData;
}
const { breadcrumbs, referencesData, story } = Astro.props;
---

<BaseLayout referencesData={referencesData} title={story.name}>
  <main>
    <Header title={story.name} breadcrumbs={breadcrumbs} />
    <UnitComponent story={story} client:visible />
  </main>
</BaseLayout>
